{% set etcd_endpoint = hostvars[inventory_hostname].ansible_host -%}
ETCD_NAME="etcd-{{ etcd_endpoint | replace('.', '_') }}"
ETCD_DATA_DIR="/var/lib/etcd"
{% set ns = namespace(etcd_initial_cluster=[]) -%}
{% for db_host in groups['databases'] %}
    {%- set local_etcd_endpoint = hostvars[db_host].ansible_host -%}
    {% set _ = ns.etcd_initial_cluster.append('etcd-' ~ local_etcd_endpoint | replace('.', '_') ~ '=https://' ~ local_etcd_endpoint ~ ':2380') -%}
{% endfor %}
{{ 'ETCD_INITIAL_CLUSTER="' ~ ns.etcd_initial_cluster | join(',') ~ '"' }}
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ etcd_endpoint }}:2380"
ETCD_LISTEN_PEER_URLS="https://0.0.0.0:2380"
ETCD_LISTEN_CLIENT_URLS="https://0.0.0.0:2379"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ etcd_endpoint }}:2379"
ETCD_CLIENT_CERT_AUTH="true"
ETCD_TRUSTED_CA_FILE="{{ etcd_config_directory }}/ssl/ca.crt"
ETCD_CERT_FILE="{{ etcd_config_directory }}/ssl/etcd-{{ etcd_endpoint | replace('.', '_') }}.crt"
ETCD_KEY_FILE="{{ etcd_config_directory }}/ssl/etcd-{{ etcd_endpoint | replace('.', '_') }}.key"
ETCD_PEER_CLIENT_CERT_AUTH="true"
ETCD_PEER_TRUSTED_CA_FILE="{{ etcd_config_directory }}/ssl/ca.crt"
ETCD_PEER_CERT_FILE="{{ etcd_config_directory }}/ssl/etcd-{{ etcd_endpoint | replace('.', '_') }}.crt"
ETCD_PEER_KEY_FILE="{{ etcd_config_directory }}/ssl/etcd-{{ etcd_endpoint | replace('.', '_') }}.key"