global
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    stats socket /var/lib/haproxy/stats

    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
    ssl-default-server-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384

defaults
    mode                    http
    log                     global
    option                  dontlognull
    option http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend postgres_frontend
    bind *:{{ server_port }}
    mode tcp
    option tcpka
    timeout client 1h
    default_backend postgres_backend

frontend patroni_frontend
    bind *:{{ patroni_port }}
    mode http
    default_backend patroni_backend

backend postgres_backend
    mode tcp
    option tcpka
    option httpchk GET /primary
    http-check expect status 200
    timeout connect 5s
    timeout server 1h
{% for db_host in groups['databases'] %}
    {% set local_patroni_endpoint = hostvars[db_host].ansible_host %}
    server postgresql-{{ local_patroni_endpoint | replace('.', '_') }} {{ local_patroni_endpoint }}:{{ server_port }} port {{ patroni_port }} check inter 5s fall 3 rise 2 check-ssl verify none
{% endfor %}

backend patroni_backend
    mode http
    balance roundrobin
    option httpchk GET /primary
    http-check expect status 200
{% for db_host in groups['databases'] %}
    {% set local_patroni_endpoint = hostvars[db_host].ansible_host %}
    server patroni-{{ local_patroni_endpoint | replace('.', '_') }} {{ local_patroni_endpoint }}:{{ patroni_port }} check inter 5s fall 3 rise 2 ssl verify none
{% endfor %}

listen stats
    bind *:{{ haproxy_port }}
    mode http
    stats enable
    stats uri /haproxy_stats
    stats refresh 5s
    stats admin if TRUE
    stats auth {{ haproxy_admin_username }}:{{ haproxy_admin_password }}
